<h1 class="title mx-auto ">Those who Pursed Electrical Engineering</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Watsap number</th>
      <th scope="col">email</th>
      <th scope="col">Graduation Year </th>
    </tr>
  </thead>
    <tbody>
    <% @electrical_students.each do |alumni| %>
        <tr>
            <td><%= alumni.first_name%> </td>
            <td><%= alumni.last_name %> </td>
            <td><%= alumni.phonecontact%> </td>
            <td><%= alumni.email %> </td>
            <td><%= alumni.year_of_study.year %> </td>
        </tr>
    <% end %>
    </tbody>
</table>