<section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>ADD AlUMNI TO THE DATABASE</h2>
        </div>

        <div class="row mt-1 d-flex justify-content-center" data-aos="fade-right" data-aos-delay="100">

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">

            <%= form_for(:member, url: new_alumni_path, html: {class: "php-email-form"}) do |f| %>
              <div class="row">
                <div class="col-md-6 form-group">
                    <%= f.text_field :first_name ,class:'form-control', placeholder:'First Name', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.text_field :last_name ,class:'form-control', placeholder:'Last Name', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.text_field :phonecontact ,class:'form-control', placeholder:'Whatsap Number', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.text_field :email ,class:'form-control', placeholder:'Email', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.select(:course, [
                      'Which Course did you Pursue?',
                      'Diploma in Water engineering','Diploma in Electrical engineering',
                      'Diploma in Civil Engineering','Diploma in Architecture',
                      'Diploma in Mechanical Engineering','Certificate in Plumbing',
                      'Certificate in Electrical Installation',
                      'Certificate in Building and Concrete Practice',
                      'Certificate in Motor Vehicle Maintenance'
                      ], {}, :class => "form-control") %>
                </div>
                 <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.date_field :year_of_study ,class:'form-control', placeholder:'Cell Number', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.select(:employed, [
                      'Are you employed?',
                      "YES",
                      'NO'
                      ], {}, :class => "form-control") %>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.text_field :employer ,class:'form-control', placeholder:'Which Company are you working with?', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.text_field :own_company ,class:'form-control', placeholder:"what's the name of your company", :required => true%>
                </div>
              </div>
              <div class="my-3">
                <p class="alert text-danger"><%= alert %></p>
                <p class="alert text-danger"><%= notice %></p>
              </div>
              <div class="text-center"><button type="submit">Add Choir Member</button></div>
              <% end%>
         
          </div>

        </div>

      </div>
    </section>