<h2>Alumni</h2>
<div>
    <p>First name: <%= @alumni.first_name %></p>
    <p>Last name: <%= @alumni.last_name %></p>
    <p>Email: <%= @alumni.email %></p>
    <p>Course: <%= @alumni.course %></p>
    <p>Year of graduation: <%= @alumni.year_of_study %></p>
    <p>Employed? <%= @alumni.employed %></p>
    <p>Employer: <%= @alumni.employer %></p>

</div>
