<!DOCTYPE html>
<html>
  <head>
    <title>OldStudents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-light lead" href="#">UTC-Kyema Alumni-Database</a>
  
  <div class="collapse navbar-collapse " id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <%= link_to "Add Alumni", new_alumni_path, class:"nav-link nav-item" %>
      <%= link_to "All Alumni", alumnis_path, class:"nav-link nav-item" %>
      <li class="nav-item">
        <a class="nav-link" href="#">Water</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Civil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Architecture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Mechanical</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Electrical</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Craft</a>
      </li>
    </ul>
    
  </div>
</nav>
<div class="container mb-5"> 
  <%= yield %>
</div>
  </body>
</html>
